# Dependencies
node_modules/

# Environment variables
.env
.env.*

!.env.example

# Angular
client/dist/
client/.angular/

# Backend
server/coverage/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db