DATABASE_URL="sqlserver://127.0.0.1:1433;database=SentenceBuilder;user=SentenceBuilderApp;password={ChangeThisPassword_123!};encrypt=true;trustServerCertificate=true"
DB_USER=SentenceBuilderApp
DB_PASSWORD=ChangeThisPassword_123!
DB_SERVER=localhost
DB_NAME=SentenceBuilder
PORT=3000

CLIENT_URL="http://localhost:4200"