DB_URL="sqlserver://127.0.0.1:1433;database=SentenceBuilder;user=SentenceBuilderApp;password={password};encrypt=true;trustServerCertificate=true"
DATABASE_URL="sqlserver://onelife.database.windows.net:1433;database=SentenceBuilder;user=sentencebuilderadmin;password={password};encrypt=true;trustServerCertificate=false"
DB_USER=SentenceBuilderApp
DB_PASSWORD=password
DB_SERVER=localhost
DB_NAME=SentenceBuilder
PORT=3000

CLIENT_URL="http://localhost:4200"